.weather-component {
    position: relative;
    border-radius: 4px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    padding: rem(10px 14px);
}
.weathertron {
    &__header {
        font-family: $typeface-headings;
        font-size: rem(18px);
        color: $color-brand;
        margin-bottom: rem(6px);
        @media (min-width: 560px) {
            margin-bottom: rem(10px);
            font-size: rem(20px);
        }
    }
    &__forecast {
        position: absolute;
        top: rem(10px);
        right: rem(10px);
        font-style: italic;
        font-size: rem(16px);
        color: $color-accent-muted;
        @media (min-width: 560px) {
            font-size: rem(18px);
        }
    }
    &__city {

    }
    &__country {
        font-size: rem(16px);
    }
    &__body {
        display: flex;
        justify-content: space-between;
        font-size: rem(15px);
        @media (min-width: 560px) {
            font-size: rem(18px);
            justify-content: space-evenly;
        }
    }
    &__day {

    }
    &__date {
        font-size: rem(16px);
        color: $color-accent;
        @media (min-width: 560px) {
            font-size: rem(20px);
        }
    }
    &__temp {
        font-size: rem(14px);
        @media (min-width: 560px) {
            font-size: rem(18px);
        }
        &-title {

        }
        &-value {

        }
    }
    &__footer {
        margin-top: rem(15px);
    }
    &__conditions {
        &-title {
            font-style: italic;
            font-size: rem(16px);
            font-family: $typeface-headings;
            color: $color-accent-muted;
            @media (min-width: 560px) {
                font-size: rem(18px);
            }
        }
        &-text {
            display: flex;
            align-items: center;
            @media (min-width: 560px) {
                font-size: rem(18px);
            }
            img {
                margin-right: rem(6px);
            }
        }
    }
}