@import "vendor/rem";

@mixin flex-centerize {
    display: flex;
    justify-content: center;
    align-items: center;
}

.u- {
    &hide, &hidden {
        display: none !important;
    }
}
.hide, .hidden {
    display: none !important;
}

.u-selected, .selected {
    background-color: $color-brand;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    
    border-bottom: 6px solid $color-peaceful;
}
.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    
    border-top: 6px solid $color-peaceful;
}
.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    
    border-left: 6px solid $color-peaceful;
}
.arrow-left {
    width: 0; 
    height: 0; 
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent; 
    
    border-right:6px solid $color-peaceful;
}